*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:
    linear-gradient(135deg,
    #4facfe,
    #00f2fe,
    #7f7fd5);
}

.glass{
    background:rgba(255,255,255,0.15);
    border:1px solid rgba(255,255,255,0.25);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
    border-radius:25px;
    box-shadow:0 8px 32px rgba(0,0,0,0.2);
    color:white;
}


.card-box{
    padding:35px;
    transition:0.4s;
}

.card-box:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
}


.nav-link{
    transition:0.3s;
}

.nav-link:hover{
    color:#ffd700 !important;
}